/* the props */
@import "https://unpkg.com/open-props";

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;

  font-size: var(--font-size-1);
  font-family: var(--font-sans);
}

html {
  background-color: var(--stone-1);
}

article {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "aside content";
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  & > li {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--size-2);
  }
}

article > aside {
  grid-area: aside;

  border: var(--border-size-1) solid var(--stone-4);
  background-color: var(--stone-1);
  box-shadow: var(--shadow-3);
  border-radius: var(--radius-3);

  margin: var(--size-4);
  padding: var(--size-4);
}

article > aside header {
  font-size: var(--font-size-3);
  padding: var(--size-4);
}

article > aside button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: var(--size-2) var(--size-6);
  
  width: fit-content;

  background: var(--stone-1);
  
  color: var(--stone-11);
  border: var(--border-size-1) solid var(--stone-6);
  box-shadow: var(--shadow-3);
  border-radius: var(--radius-2);
  &:disabled {
    background: var(--stone-2);
    cursor: not-allowed;
  }
  &:not(:disabled):hover {
    background: var(--stone-3);
    cursor: pointer
  }
  &:not(:disabled):active {
    background: var(--stone-4);
  }
}

article > section {
  grid-area: content;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
article > section > iframe {
  width: 100%;
  height: 100%;
  border: none;
}

form {
  border: var(--border-size-1) solid var(--stone-4);
  background-color: var(--stone-1);
  box-shadow: var(--shadow-3);
  border-radius: var(--radius-3);

  padding: var(--size-3);

  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

input[type="password"],input[type="email"] {
  all: unset;

  border: var(--border-size-1) solid var(--stone-4);
  background-color: var(--stone-0);
  box-shadow: var(--inner-shadow-3);
  border-radius: var(--radius-2);

  padding: var(--size-1);
  &:not(:disabled):focus {
    background-color: var(--stone-2);
    &::placeholder {
      color: var(--stone-12);
    }
  }
}